.background {
  background: hsl(273, 65%, 75%);
}
  

.buttonLogo {
    outline-style: none;
    background: none;
    border: none;
    color: white;
  }
  

  .buttonSvg {
    outline-style: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  
    height: 50px;
  }
  
  .buttonSvg:hover {
    outline-style: none;
    background: hsl(273, 65%, 50%);
    border: none;
    color: white;
    cursor: pointer;

    height: 50px;
  }

  .a{
    text-decoration: none;

  }

  