{% extends 'adminPage/admin_profile.html' %}
{%block title%}<title>Quiz</title>{%endblock title%}

{% block content %}

<!-- <div class="d-flex align-item-center justify-content-center" style="background-color: white;">
    <h3 class="p-5">{{title1}}</h3>
</div> -->
<h2 class="text-center">{{title}}</h2>
<div class="p-2" style="border-radius:10px; background-color: white;">

    <div class="row">
        {% for quiz in quizzes %}
        <div class="col-sm-4" style="border-radius: 5px; margin-bottom: 20px;">
            <div class="card">
                <h2 class="card-title title-background" 
                     style="padding: 10px; {% if quiz.image %}border-top-right-radius: 5px; border-top-left-radius: 5px; height: 300px; background-image: url('{{ quiz.image.url }}');{% endif %}">
                     <a style="text-decoration:none; color: rgb(133, 133, 133);" href="{{quiz.get_absolute_url}}" data-has-timer="{{ quiz.has_timer }}">
                        {{ quiz.title }}
                    </a>
                </h2>
                <div class="card-body">
                    <p class="card-text"><i class="bi bi-calendar-date-fill"></i> {{ quiz.date }} <i style="padding-left: 15px;" class="bi bi-people-fill"></i> {{ quiz.unique_users_passed }}</p>
                    <p class="card-text">{{ quiz.description | linebreaks }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'admin_profile'%}" class="mx-5 btn btn-primary">Назад</a>
        <button id="toggleButton" class="mx-5  btn btn-primary">Добавить тест</button>
        </div>
        <form id="formContainer" style="display: none;" method="POST" enctype="multipart/form-data" class="test-form">
            {% csrf_token %}
            <label for="{{ form.author.id_for_label }}">Автор:</label>
            {{ form.author }}<br>
            <label for="{{ form.image.id_for_label }}">Изображение:</label>
            {{ form.image }}<br>
            <label for="{{ form.title.id_for_label }}">Название:</label>
            {{ form.title }}<br>
            <label for="{{ form.description.id_for_label }}">Описание:</label>
            {{ form.description }}<br>
            <label for="{{ form.is_public.id_for_label }}">Опубликовано:</label>
            {{ form.is_public }}<br>
            {{ form.category }}<br>
            <label for="{{ form.time_limit.id_for_label }}">Временной лимит:</label>
            {{ form.time_limit }}<br>
            <input id="{{ form.slug.id_for_label }}" type="hidden" name="slug">
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
</div>




<script>
    document.getElementById('toggleButton').addEventListener('click', function() {
        var formContainer = document.getElementById('formContainer');
        if (formContainer.style.display === 'none') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    });
    document.getElementById('{{ form.title.id_for_label }}').addEventListener('input', function(e) {
      var title = e.target.value;
      var slug = title.toLowerCase().replace(/ /g, '-').replace(/[^\w-]+/g, '');
      document.getElementById('{{ form.slug.id_for_label }}').value = slug;
    });
</script>

<style>
    .title-background {
        background-repeat: no-repeat;
        background-position: center;
    }

    h2:hover{
        text-decoration: underline solid rgb(133, 133, 133);;
    }
  .test-form {
    width: 75%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
  }

  .test-form h2 {
    text-align: center;
    color: #333;
  }

  .test-form label {
    display: block;
    margin-bottom: 5px;
  }

  .test-form input[type="text"],
  .test-form input[type="number"],
  .test-form input[type="file"],
  .test-form select,
  .test-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .test-form input[type="checkbox"] {
    width: auto;
  }

  .test-form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
  }

  .test-form button:hover {
    background-color: #0056b3;
  }
</style>

{% endblock content%}