{% extends 'adminPage/admin_profile.html' %}

{% block content %}
<script>
  document.getElementById('{{ form.title.id_for_label }}').addEventListener('input', function(e) {
    var title = e.target.value;
    var slug = title.toLowerCase().replace(/ /g, '-').replace(/[^\w-]+/g, '');
    document.getElementById('{{ form.slug.id_for_label }}').value = slug;
  });
  </script>
<h2 class="text-center">Создать тест</h2>
<form method="POST" enctype="multipart/form-data" class="test-form">
  {% csrf_token %}
  <label for="{{ form.author.id_for_label }}">Автор:</label>
  {{ form.author }}<br>
  <label for="{{ form.image.id_for_label }}">Изображение:</label>
  {{ form.image }}<br>
  <label for="{{ form.title.id_for_label }}">Название:</label>
  {{ form.title }}<br>
  <label for="{{ form.description.id_for_label }}">Описание:</label>
  {{ form.description }}<br>
  <label for="{{ form.is_public.id_for_label }}">Опубликовано:</label>
  {{ form.is_public }}<br>
  <label for="{{ form.category.id_for_label }}">Категория:</label>
  {{ form.category }}<br>
  <label for="{{ form.time_limit.id_for_label }}">Временной лимит:</label>
  {{ form.time_limit }}<br>
  <input id="{{ form.slug.id_for_label }}" type="hidden" name="slug">
  <button type="submit">Сохранить</button>
</form>



<style>
  .test-form {
    width: 75%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
  }

  .test-form h2 {
    text-align: center;
    color: #333;
  }

  .test-form label {
    display: block;
    margin-bottom: 5px;
  }

  .test-form input[type="text"],
  .test-form input[type="number"],
  .test-form input[type="file"],
  .test-form select,
  .test-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .test-form input[type="checkbox"] {
    width: auto;
  }

  .test-form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
  }

  .test-form button:hover {
    background-color: #0056b3;
  }
</style>

{% endblock %}
