{% extends 'adminPage/admin_profile.html' %}
{% load static%}
{% block title %}
<title>Quiz</title>
{% endblock title %}

{% block content %}
<div class="d-flex">
<div class="vw-100">
  <div>
  <h2 class="text-center">В этом тесте пока нету вопросов</h2></br>
</div>

    <div class="py-4 d-flex justify-content-center">
      <button class="goBack mx-5" onclick="goBack()">Назад</button>
    </div>
    </div>
<div class="bg-white px-4 py-2 my-5" style="border-radius:10px">
  <div>
    sadsadsd
  </div>
  <div>
    asdasdasas
  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Function to navigate back to a specific URL
    function goBack() {
      console.log('gg')
      window.history.go(-1);
    }
</script>

<style>
  .title-background {
      background-repeat: no-repeat;
      background-position: center;
  }

  h2:hover{
      text-decoration: underline solid rgb(133, 133, 133);;
  }

.goBack {
  display: block;
  width: 10%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007BFF;
  cursor: pointer;
}

.goBack:hover {
  background-color: #0056b3;
}
</style>


{% endblock content %}